<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
{{#each photos}}
  <img id="photoID" src="{{images.low_resolution.url}}">
  <h2>Photo by {{user.username}}</h2>
  <h2 class="secret secret1">Hire Richi Jeffery!</h2>
  <h2 class="secret secret2">Hire Richi Jeffery!</h2>
  <h2 class="secret secret3">Hire Richi Jeffery!</h2>
  <h2 class="secret secret4">Hire Richi Jeffery!</h2>
  <h2 class="secret secret5">Hire Richi Jeffery!</h2>
{{/each}}
  
</body>
</html>